                  <!-- content end -->
                </div>
              </article>
            </div>
            <div class="primary" id="sidebar">
              <ul class="xoxo">
                <li id="text-6" class="widget-container widget_text">			<div class="textwidget"><p>Partner of<br>
                  <a href="https://cloudogu.com" target="_blank"><img src="${contextPath}/template/images/cloudogu-logo.png" alt="Cloudogu Logo"></a></p>
                  <hr></div>
                </li>
                <li id="linkcat-3" class="widget-container widget_links">
                  <h3 class="widget-title">Links</h3>
                  <ul class="xoxo blogroll">
                    <li>
                      <a href="https://scm-manager.org/download/">Download</a>
                    </li>
                    <li>
                      <a href="https://github.com/scm-manager/scm-manager/issues" target="_blank">Issue Tracker</a>
                    </li>
                    <li>
                      <a href="http://groups.google.com/group/scmmanager" target="_blank">Mailing List</a>
                    </li>
                    <li>
                      <a href="https://scm-manager.org/docs/1.x/en/" target="_blank">Documentation</a>
                    </li>
                  </ul>
                </li>
                <li class="widget-container widget_recent_entries">
                  <h3 class="widget-title">Latest News</h3>
                  <div id="news"></div>
                  <script type="text/javascript">
                  $(document).ready(function(){
                    $('#news').feeds('${contextPath}/news', {
                      loadingImage: '${contextPath}/template/css/images/load.gif',
                      maxItems: 3
                    });
                  });
                </script>
                </li>

                <li id="text-7" class="widget-container widget_text">			<div class="textwidget"><p>
                  <a href="https://oss.cloudogu.com/jenkins/job/scm-manager/" target="_blank">
                  <img src="${contextPath}/template/images/ci-cloudogu.png" alt="Cloudogu Sponsoring"></a>
                  <br><br>
                  Build and Tests sponsored by Cloudogu<br>
                  <a class="button" href="https://oss.cloudogu.com/jenkins/job/scm-manager/" target="_blank">Visit our Testserver →</a>

                  <br>

                  </p></div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer id="colophon">
        <div class="col-width">
          <div id="site-generator">
            <p></p>
            <div>
              <span style="float: left">
                © Sebastian Sdorra
              </span>
              <span style="float: right">
               <a href="http://scm-manager.org/imprint/">Impressum</a>
              </span>
              <span style="clear: both">
            </span>
          </div>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>
